<!doctype html>
<title>SUPER CHAT</title>

<script src="lib/socket.io.js"></script>
<script src="lib/vue.js"></script>

<script src="js/main.js" type="module"></script>

<div id="app">
  <page-login
    :socket="socket"
    @nick-chosen="onNickChosen"
  ></page-login>
  <page-chat
    :socket="socket"
    :nick="nick"
  ></page-chat>
</div>

<template id="pageLogin">
  <div>
    <input
      v-model="inputValue"
      :placeholder="inputPlaceholder"
      @keydown.enter="onInputSubmit"
    >
  </div>
</template>

<template id="pageChat">
  <div>
    <input
      v-model="inputValue"
      :placeholder="inputPlaceholder"
      @keydown.enter="onInputSubmit"
    >
    <ul>
      <li v-for="message in messages">
        {{message}}
      </li>
    </ul>
  </div>
</template>
